%h2.ps-page-title= t '.events'

.session-list
  - @view_model.events_by_track.each do |_, events|
    - events.each do |event|
      = link_to public_event_path(id: event.id), class: "session-row #{track_class(event)}" do
        - if event.logo.present?
          .session-row__time
            = image_box(event.logo, :small, class: "img-fluid rounded")
        .session-row__body
          %h5.session-row__title= event.title
          - if event.abstract.present?
            .session-row__abstract= text_preview(event.abstract, length: 160)
          .session-row__meta
            - if event.start_time.present?
              %span
                %i.bi.bi-clock
                = l event.start_time, format: :short
            - if event.room.present?
              %span
                %i.bi.bi-geo-alt
                = event.room.name
            - if event.speakers.any?
              %span
                %i.bi.bi-person
                = event.speakers.map(&:public_name).join(", ")
