- content_for :track_menu do
  - tracks_to_show = defined?(@tracks_with_events) ? @tracks_with_events : @conference.tracks_including_subs.includes(:events)
  - tracks_to_show = tracks_to_show.select { |track| track.events.count > 0 }
  - if tracks_to_show.any?
    .track-legend
      - tracks_to_show.sort_by { |e| e.name }.each do |track|
        %a.track-pill{href: "##{track.name.parameterize}", class: "track-#{track.name.parameterize}", title: track.name}
          %span.track-pill__name= track.name

%h2.ps-page-title= t '.events'

- @view_model.events_by_track.each do |track_id, events|
  - if events.count > 0 && ! track_id.nil?
    - track = Track.find(track_id)

    %section{id: track.name.parameterize}
      %h3.ps-section-title{class: "track-#{track.name.parameterize}"}
        %span.track-pill
          %span.track-pill__name= track.name
        %small= events.count

      .session-list.mb-4
        - events.each do |event|
          = link_to public_event_path(id: event.id), class: "session-row #{track_class(event)}" do
            - if event.logo.present?
              .session-row__time
                = image_box(event.logo, :small, class: "img-fluid rounded")
            .session-row__body
              %h5.session-row__title= event.title
              - if event.abstract.present?
                .session-row__abstract= text_preview(event.abstract, length: 160)
              .session-row__meta
                - if event.start_time.present?
                  %span
                    %i.bi.bi-clock
                    = l event.start_time, format: :short
                - if event.room.present?
                  %span
                    %i.bi.bi-geo-alt
                    = event.room.name
                - if event.speakers.any?
                  %span
                    %i.bi.bi-person
                    = event.speakers.map(&:public_name).join(", ")
