- content_for :title do
  = "#{t('.events')} | #{schedule_title}"

%h2.ps-page-title= t '.events'

= render 'day_menu'

- @view_model.events_by_day.each do |day, start_times|
  %section{id: "day#{day.id}"}
    %h3.day-heading= l(day.start_date, format: :day)

    - start_times.sort.each do |start_time, events|
      - events.sort_by { |a| [a.track&.name ? 1 : 0, a.track&.name] }.each do |event|
        .session-row.mb-3{class: track_class(event)}
          .session-row__time
            .session-row__start= start_time.strftime("%H:%M")
            - if event.time_slots
              .session-row__duration= "#{event.time_slots * @conference.timeslot_duration} min"

          .session-row__body
            %h4.session-row__title.mb-1
              = link_to event.title, public_event_path(id: event.id), class: "text-decoration-none"
            - if event.subtitle.present?
              .session-row__subtitle.mb-2= event.subtitle

            .session-row__meta.mb-2
              - if event.track.present?
                %span.track-pill{title: event.track.name}
                  %span.track-pill__name= event.track.name
              - if event.room.present?
                %span
                  %i.bi.bi-geo-alt
                  = event.room.name
              - if event.language.present? && @conference.languages_including_subs.count > 1
                %span
                  %i.bi.bi-translate
                  = event.language

            - if event.abstract.present?
              .event-page__abstract.mb-2= text_preview(event.abstract, length: 250)

            - if event.description.present?
              .session-row__abstract= text_preview(event.description, length: 1200)

            - if event.speakers.any?
              .session-row__meta.mt-2
                - event.speakers.each do |speaker|
                  %span
                    - if speaker.avatar.present?
                      = image_box speaker.avatar, :small, class: "avatar avatar--sm me-1"
                    - else
                      %i.bi.bi-person
                    = link_to speaker.public_name, public_speaker_path(id: speaker.id)
