- content_for :title do
  = "#{t('.events')} | #{schedule_title}"

- if @conference.tracks_including_subs.present?
  = render partial: 'public/schedule/events_by_track'
- else
  = render partial: 'public/schedule/events'

.format-links
  %span= t('.export_formats', default: 'Export formats')
  = link_to public_events_path(format: 'json') do
    %i.bi.bi-filetype-json
    JSON
  = link_to public_events_path(format: 'xls') do
    %i.bi.bi-file-earmark-spreadsheet
    Excel
