- speaker = @view_model.speaker
- content_for :title do
  = "#{t '.speaker'}: #{speaker.public_name} | #{schedule_title}"

%article
  %header.speaker-page__header
    - if speaker.avatar.present?
      = link_to speaker.avatar.url, "data-lightbox" => speaker.avatar do
        = image_box(speaker.avatar, :large, class: "avatar avatar--lg", loading: "lazy", alt: "The speaker's profile picture")
    - else
      .avatar-placeholder.avatar--lg
        %i.bi.bi-person

    %div
      %h2.speaker-page__name= speaker.public_name
      - if speaker.abstract.present?
        %p.ps-page-subtitle.mb-2= text_preview(speaker.abstract, length: 150)

      - if speaker.email_public? || speaker.links.any?
        .meta-chips
          - if speaker.email_public?
            = mail_to speaker.email, nil, replace_at: "(at)", replace_dot: "(dot)", encode: :javascript, class: "meta-chip" do
              %i.bi.bi-envelope
              Email
          - speaker.links.each do |link|
            = link_to link.url, target: "_blank", class: "meta-chip" do
              %i.bi.bi-box-arrow-up-right
              = link.title

  .row.g-4
    .col-12.col-lg-8
      - if speaker.description.present?
        .content-card
          = simple_format speaker.description
      - elsif speaker.abstract.present?
        .content-card
          = simple_format speaker.abstract

      - events = speaker.public_and_accepted_events_as_speaker_in(@conference.include_subs)
      - if events.any?
        %h4.ps-section-title= t '.sessions'
        .session-list
          - events.each do |event|
            = link_to public_event_path(id: event.id), class: "session-row #{track_class(event)}" do
              .session-row__time
                - if event.start_time.present?
                  .session-row__duration= l(event.start_time.to_date, format: :short)
                  .session-row__start= l(event.start_time, format: :time)
                - if event.time_slots
                  .session-row__duration= "#{event.time_slots * @conference.timeslot_duration} min"
              .session-row__body
                %h5.session-row__title= event.title
                - if event.abstract.present?
                  .session-row__abstract= text_preview(event.abstract, length: 200)
                .session-row__meta
                  - if event.track.present?
                    %span.track-pill{title: event.track.name}
                      %span.track-pill__name= event.track.name
                  - if event.room.present?
                    %span
                      %i.bi.bi-geo-alt
                      = event.room.name
