- content_for :title do
  = "#{t('.speakers')} | #{schedule_title}"

%h2.ps-page-title= t '.speakers'
%p.ps-page-subtitle= "#{@view_model.speakers.count} #{t('.speakers').downcase}"

.row.g-3
  - @view_model.speakers.each do |speaker|
    .col-12.col-md-6.col-lg-4.col-xl-3
      = link_to public_speaker_path(id: speaker.id), class: "speaker-card h-100" do
        .speaker-card__head
          - if speaker.avatar.present?
            = image_box(speaker.avatar, :small, class: "avatar avatar--sm", loading: "lazy", alt: "The speaker's profile picture")
          - else
            .avatar-placeholder.avatar--sm
              %i.bi.bi-person
          %h5.speaker-card__name= speaker.public_name

        - if speaker.abstract.present?
          %p.speaker-card__bio= text_preview(speaker.abstract, length: 100)

        - events = speaker.public_and_accepted_events_as_speaker_in(@conference)
        - if events.any?
          .speaker-card__sessions
            - events.each do |event|
              %span.track-pill{class: track_class(event)}
                %span.track-pill__name= event.title

.format-links
  %span= t('.export_formats', default: 'Export formats')
  = link_to public_speakers_path(format: 'json') do
    %i.bi.bi-filetype-json
    JSON
  = link_to public_speakers_path(format: 'xls') do
    %i.bi.bi-file-earmark-spreadsheet
    Excel
