- content_for :title do
  = "#{t('.events')} | #{schedule_title}"

%h2.ps-page-title= t '.events'

= render 'day_menu'

- @view_model.events_by_day.each do |day, start_times|
  %section{id: "day#{day.id}"}
    %h3.day-heading= l(day.start_date, format: :day)

    - start_times.sort.each do |start_time, events|
      - if events.count > 0
        .time-group
          %span.time-group__time= start_time.strftime("%H:%M")

        .session-list.mb-3
          - events.sort_by { |a| [a.track&.name ? 1 : 0, a.track&.name] }.each do |event|
            = link_to public_event_path(id: event.id), class: "session-row #{track_class(event)}" do
              .session-row__body
                %h5.session-row__title= event.title
                - if event.subtitle.present?
                  .session-row__subtitle= event.subtitle
                - if event.abstract.present?
                  .session-row__abstract= text_preview(event.abstract, length: 150)
                .session-row__meta
                  - if event.track.present?
                    %span.track-pill{title: event.track.name}
                      %span.track-pill__name= event.track.name
                  - if event.room&.name
                    %span
                      %i.bi.bi-geo-alt
                      = event.room.name
                  - if @conference.languages_including_subs.count > 1
                    %span
                      %i.bi.bi-translate
                      = event.language
                  - if event.speakers.any?
                    %span
                      %i.bi.bi-person
                      = event.speakers.map(&:public_name).join(", ")
